@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&display=swap');

body{
  font-family: Archivo;
}
.about {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.about--description {
  text-align: left;
  max-width: 690px;
  width: 100%;
}
.aboutTitle {
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 9px;
}
.pets {
  font-size: 22px;
  line-height: 24px;
  color: var(--mediumdark-gray);
  margin-bottom: 12px;
}
.aboutDescription {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  color: var(--mediumdark-gray);
}
.aboutDescription > p {
  margin-bottom: 25px;
}
.about--soldItems {
  justify-self: flex-end;
  text-align: right;
}
.aboutThrid {
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 27px;
}

.images_content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.images {
  max-width: 117px;
  width: 100%;
  height: 147px;
}

.details {
  text-align: right;
}
.aboutForthTitle {
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 20px;
}
.details > .details_size {
  margin-bottom: 15px;
}
.details_size {
  display: block;
}
@media screen and (max-width: 1024px) {
  .about--description {
    text-align: left;
    max-width: 550px;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .about {
    flex-direction: column;
  }
  .about--soldItems {
    justify-self: flex-start;
    text-align: left;
  }
  .images_content {
    justify-content: space-between;
  }
  .images {
    max-width: 220px;
    height: 180px;
  }

  .details {
    text-align: left;
  }
}
