.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo {
  width: 44px;
  height: 44px;
}
.cart {
  position: relative;
}
.counter {
  position: absolute;
  bottom: 3px;
  right: 0px;
  width: 18px;
  height: 18px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.number {
    font-size: 0.7rem;
  color: var(--primary-color);
}
